:root {
    --principal: #D5A353;
    --gris: #3C3C3C;
    --blanco: #FCFCFC;
}

body {
    background-color: var(--gris);
}

.contenedor {
    width: 90%;
    margin: 0 auto;
}

.prostoOneFont {
    font-family: var(--font-prosto);
}

.poppinsFont {
    font-family: var(--font-poppins);
}