.servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-top: 0;
    padding-top: 5rem;
    background-color: #303030;
}

.serviciosPrincipal .servicios {
    margin-top: 6rem;
    padding-top: 0;
}

/* Inicio Encabezado Servicios */
.servicios .titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--blanco);
    padding: 4rem 0;
    background-color: #303030;
}

.servicios .titulo h3 {
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: 10px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    margin-bottom: 2rem;
    width: 60%;
}

.servicios .titulo h3 span {
    color: var(--principal);
}

.servicios .titulo p {
    margin: 0;
    text-align: center;
    width: 60%;
}

/* Final Encabezado Servicios */

/* Inicio Servicio 1 a 1 */
.contenedorServicios {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 20%);
    gap: 2rem;
    padding: 3rem 0;
}

.servicio {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #444444;
    padding: 2.8rem 1.8rem;
    border-radius: 8px;
    border: 2px solid #303030;
    text-align: center;
    color: var(--blanco);
}

.servicio:hover {
    border: 2px solid var(--principal);
}

.descServicio h4 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.descServicio p {
    margin: 0;
    margin-bottom: 1rem;
}

.descServicio button {
    all: unset;
    color: var(--principal);
    font-weight: 700;
    border-bottom: 1px solid var(--principal);
    padding: 0.2rem 0;
    cursor: pointer;
}

/* Final Servicio 1 a 1 */

@media (max-width:768px) {
    .servicios .titulo {
        padding: 4rem 0;
    }
    .servicios .titulo h3, .servicios .titulo p{
        line-height: normal;
        width: 95%;
    }

    
    
    .contenedorServicios {
        grid-template-columns: 100%;
    }

    .contenedorServicios .servicio {
        margin: 0 auto;
    }
}

/* @media (max-width:480px) {
    
}
@media (max-width:768px) {
    
}
@media (max-width:1044px) {
    
} */